conanbuildinfo.txt
conanfile.pyc
conan_imports_manifest.txt
conaninfo.txt
include/CppUTest
include/CppUTestExt
library
Debug
Release
.settings
.externalToolBuilders
/__pycache__/
/documentation/
test_package/build/
build/
coverage/
CMakeCache.txt
CMakeFiles/
conan.lock
graph_info.json
